:root {
  --bg: 255 255 255;
  --fg: 37 99 235;
  --fg-accent: 59 130 246;
  --muted: 100 116 139;
  --border: 226 232 240;

  --primary: 59 130 246;
  --primary-600: 37 99 235;
  --primary-50: 239 246 255;
}

.dark {
  --bg: 2 6 23;
  --fg: 226 232 240;
  --fg-accent: 96 165 250;
  --fg-accent-soft: 147 197 253;
  --muted: 148 163 184;
  --border: 30 41 59;

  --primary: 96 165 250;
  --primary-600: 59 130 246;
  --primary-50: 30 58 138;
}
